/* Stile della pagina */
#carrello {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
  font-family: "CustomFont", Megihari, sans-serif;
}

.carrello-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2.5em;
  color: #551a8b;
  margin-bottom: 20px;
}

p1 {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* Stile form */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

form .form-group {
  margin-bottom: 20px;
}

form .form-group label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #551a8b;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #551a8b;
  outline: none;
}

form textarea {
  height: 150px;
}

form button {
  background-color: #e3aad9;
  color: white;
  padding: 12px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

form button:hover {
  background-color: #551a8b;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  #accedi {
    padding: 40px 10px;
  }

  .accedi-container {
    padding: 20px;
    width: 90%;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  form input,
  form textarea {
    font-size: 1em;
  }
}
